@import '../partials/vars';
@import '../partials/mixins';
@import '../partials/functions';


body {
  font-family: sans-serif;
}
img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  width: 96%;       // zajistí nam  2% rozestupy hlavne pri responzite.
  margin: auto;     // zarovna container na stred
  border: 1px solid rgb(72, 255, 0);
}
.button {
  background-color: $buttons;
  color: $accent;
  border: none;
  border-radius: $buttons-radius;
  
}




.header {
      &-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
      }
    
      &__info {
      display: flex;
      text-align: right;
      }
    
      &__contacts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width: 640px){
          display: none;
        }
      }

      &__address {
      font-size: 13px;
      color: $accent;
      font-weight: 400;
      }
      &__phone {
        font-size: 20px;
        color: $accent;
        font-weight: 400;
        text-decoration: none;
        display: block;
        margin-top: 5px;
      }
      &__button {
        padding: 18px 47px;
        margin-left: 30px;
        font-size: 13px;
        font-weight: 700;
      }
  }



